.fondomain {
    background-color: rgb(191, 234, 242);
    text-align: center;
}

.fondofooter{
    background-color: aquamarine;
    text-align: center;
}

.fondonav{
    background-color: aqua;
}

h1{
    color: brown;
}
h2{
    color: rgb(204, 87, 87);
}